TARGETS
body_visualizer
human_body_prior

# files
*.vscode
*.pyc
*.log
*.mp4
*.png 
face_segmentation/deeplabv3plus_r101_512x512_face-occlusion-93ec6695.pth
dataset
pretrained

# folders
checkpoints/
wandb/
dataset/
renders/
processed_data/
vis_result/
outputs/
euler/
flame_2020/
pretrained/
videos/
external/
processed/
face_motion_videos/